#!/bin/bash

if [ "$1" == "" ]; then
    echo "Usage: $0 upload/download" >&2
    exit 1
fi

BACKUPDIR=/opt/minecraft/plugins_data/backups/{{ world }}
BUCKET="{{ world_s3 }}/backup"
ENDPOINT=https://s3.eu-central-1.wasabisys.com
LOGDIR=/opt/minecraft/log
LOG=$LOGDIR/{{ world }}_backup_s3.log

upload() {

    /usr/bin/aws s3 sync \
        --profile wasabi \
        --endpoint-url=$ENDPOINT \
        "$BACKUPDIR" \
        $BUCKET

}

download() {

    /usr/bin/aws s3 sync \
        --profile wasabi \
        --endpoint-url=$ENDPOINT \
        $BUCKET \
        "$BACKUPDIR"

}

mkdir -p $LOGDIR
exec &> >(tee -a $LOG)

date

case $1 in
    upload)
        upload
        ;;
    download)
        download
        ;;
    *)
        echo "Usage: $0 upload/download" >&2
        exit 1
        ;;
esac

