[Unit]
Description=Extendable Minecraft Server Manager (EMSM)
Requires=network.target
After=network.target
Requires={{ world }}_s3.service
After={{ world }}_s3.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/minecraft initd --start
ExecStop=/usr/bin/minecraft initd --stop
ExecReload=/usr/bin/minecraft initd --restart
ExecStartPre=/bin/sleep 10
ExecStopPost=/bin/sleep 10

[Install]
WantedBy=multi-user.target
