#!/bin/bash

ACCESSID=$(grep -A1 wasabi ~/.aws/credentials | tail -1 | sed -r 's/.+ = //')
ACCESSKEY=$(grep -A2 wasabi ~/.aws/credentials | tail -1 | sed -r 's/.+ = //')

{{ pyvenv_rotate_backups_s3 }}/bin/rotate-backups-s3 \
    --prefer-recent \
    --hourly 5 \
    --daily 5 \
    --weekly 2 \
    --monthly 2 \
    -U "$ACCESSID" \
    -P "$ACCESSKEY" \
    --aws-host s3.eu-central-1.wasabisys.com \
    "{{ world_s3 }}/backup"

