[Unit]
Description=Sync minecraft world '{{ world }}' with S3 bucket
Requires=network.target
After=network.target

[Service]
User=minecraft
Group=minecraft
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/world_s3_sync download
ExecStop=/usr/bin/world_s3_sync upload
TimeoutSec=300

[Install]
WantedBy=multi-user.target
