#!/bin/bash

if [ "$1" == "" ]; then
    echo "Usage: $0 upload/download" >&2
    exit 1
fi

WORLDDIR=/opt/minecraft/worlds/{{ world }}/world
BUCKET="{{ world_s3 }}/world"
ENDPOINT=https://s3.eu-central-1.wasabisys.com
LOGDIR=/opt/minecraft/log
LOG=$LOGDIR/{{ world }}_s3.log

upload() {

    /usr/bin/aws s3 sync \
        --delete \
        --exclude session.lock \
        --profile wasabi \
        --endpoint-url=$ENDPOINT \
        "$WORLDDIR" \
        $BUCKET

}

download() {

    /usr/bin/aws s3 sync \
        --delete \
        --exclude session.lock \
        --profile wasabi \
        --endpoint-url=$ENDPOINT \
        $BUCKET \
        "$WORLDDIR"

}

mkdir -p $LOGDIR
exec &> >(tee -a $LOG)

date

case $1 in
    upload)
        upload
        ;;
    download)
        download
        ;;
    *)
        echo "Usage: $0 upload/download" >&2
        exit 1
        ;;
esac

