[Unit]
Description=Gunicorn instance to serve ec2mc
After=network.target

[Service]
User={{ flask_owner }}
Group=www-data
WorkingDirectory={{ flask_dir }}
Environment="PATH={{ flask_dir }}/virt/bin"
ExecStart={{ flask_dir }}/virt/bin/gunicorn --workers 3 --bind unix:ec2mc.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
