server {
    listen 80;
    listen [::]:80;

    server_name {{ fqdn }};

    location / {
        return 301 https://$host$request_uri;
    }
}
server {
    listen 443 ssl http2;
    server_name {{ fqdn }};

    location / {
        auth_basic           "Minecraft";
        auth_basic_user_file /etc/nginx/.htpasswd_ec2mc;
        include proxy_params;
        proxy_pass http://unix:{{ flask_dir }}/ec2mc.sock;
    }

}
