from flask import Flask, redirect, url_for
from ec2_minecraft import ec2_minecraft
app = Flask(__name__)
instance_id = '{{ instance_id }}'

@app.route("/")
def hello():
    out, err = ec2_minecraft.getip(instance_id)
    ip = out.strip()
    return f'<h1>{ip}</h1><h1><a href="/start">Start server</a></h1>'


@app.route("/start")
def start():
    ec2_minecraft.start(instance_id)
    return redirect(url_for('hello'))


if __name__ == "__main__":
    app.run(host='0.0.0.0')
